* {
    margin: 0;
    padding: 0;
    }

.nut button {
    width: 48px;
    height: 48px;
    border: 2px solid;
    border-radius: 5px;
}

a.link {
    text-decoration: none;
    color: #1abc9c;
}

p.ten {
    font-size: 14px;
    margin-top: 10px;
}

img.avt {
    width: 64px;
    border-radius: 50%;
}

p.comment {
    font-size: 21px;
    color: gray;
    line-height: 40px;
    margin-bottom: 24px;
    height: 120px;
}

li.slide {
    list-style: none;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;
}

ul.carousel {
    width: 700px;
    margin: auto;
    position: relative;
    height: 300px;
}

hr {
    width: 24px;
    margin: auto;
    border: 2px solid black;
    margin-bottom: 48px;
}

h3.tieude {
    padding-top: 48px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 24px;
}

.khoi-carousel {
    margin-top: 64px;
    text-align: center;
    font-family: Segoe UI;
    background-color: #d5d5d5;
    height: 500px;
}

.active {
    animation: divao 0.4s forwards!important;
    opacity: 1!important;
}

.diactive {
    animation: dira 0.4s forwards!important;
    opacity: 0!important;
}

@-webkit-keyframes divao {
    0%{ transform: translateX(900px);}
    100%{ transform: translateX(0px);}
}
@-webkit-keyframes dira {
    0%{ transform: translateX(0px);}
    100%{ transform: translateX(-900px);}
}